<extend name="Layout/head"/>
    <block name="resources">
<style type="text/css">
.distribution_center{margin-top: 20px;margin-right: auto;
margin-bottom: 30px;margin-left: auto;overflow: hidden;
width: 1170px;border: 1px solid #F90;padding-bottom: 20px;
padding-top: 20px;}
.img_left{float: left;height: 240px;width: 240px;
margin-right: 150px;margin-left: 250px;}
.img_right{float: left;height: 240px;width: 240px;margin-top: 0;margin-right: auto;margin-bottom: 0;margin-left: auto;}
.distribution_center_img{text-align:center;margin-bottom: 20px;}
</style>
</block>

    <block name="body">
<div class="distribution_center">
<div class="distribution_center_img"><img src="__SOURCE__/images/fbzx_lbxz01.png" width="1000" height="50" /></div>
    <div>
      <div class="img_left"><a href="/UserObject/publish"><img src="__SOURCE__/images/fbzx_lbxz03.png" width="240" height="240" /></a></div>
      <div class="img_right"><a href="/UserRequirement/publish"><img src="__SOURCE__/images/fbzx_lbxz04.png" width="240" height="240" /></a></div>
    </div>
</div>
       </block>
