<extend name="Layout/head"/>

<block name="resources">
    <script src="__SOURCE__/js/sco/sco.valid.js"></script>
</block>

<block name="body">
    <div class="row">
        <include file="Layout/user_center"/>

        <div class="col-md-8">
            <form data-ajax-submit action="modify" id="formInfoEditor" class="form_user" method="post">

                <table style="width: 450px">
                    <tr>
                        <td><label for="txtNickName">昵称</label></td>
                        <td>
                            <input type="text" class="form-control" id="txtNickName" name="nick_name"
                                   value="{$info.nick_name}"/>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="txtAddress">地址</label>
                        </td>
                        <td>
                            <input type="text" class="form-control" id="txtAddress" name="address"
                                   value="{$info.address}"/>
                        </td>
                    </tr>

                    <if condition="$info.identity_valid eq 0">
                        <tr>
                            <td><label for="txtRealName">真实姓名</label></td>
                            <td>
                                <input type="text" class="form-control" id="txtRealName" name="real_name"
                                       value="{$info.real_name}"/>
                            </td>
                        </tr>
                        <tr>
                            <td><label for="txtCardNo">身份证号</label></td>
                            <td>
                                <input type="text" class="form-control" id="txtCardNo"
                                       value="{$info.card_no}"/>
                            </td>
                        </tr>
                        <tr>
                            <td><label>身份证图片</label></td>
                            <td style="width: 200px;padding-bottom: 10px;padding-top:12px;" id="cImg">
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>
                                <button type="button" class="btn btn-info"
                                        onclick="document.getElementById('fileCardImg').click();">添加+
                                </button>
                            </td>
                        </tr>
                        <else/>
                        <tr>
                            <td><label for="txtRealName">真实姓名</label></td>
                            <td>
                                <input type="text" class="form-control" disabled="disabled"
                                       value="{$info.real_name}"/>
                            </td>
                        </tr>
                        <tr>
                            <td><label for="txtCardNo">身份证号</label></td>
                            <td>
                                <input type="text" class="form-control" disabled="disabled"
                                       value="{$info.card_no}"/>
                            </td>
                        </tr>
                    </if>


                    <tr>
                        <td colspan="2">
                            <button type="submit" class="btn btn-warning"
                                    style="font-size:18px;margin-top:12px;width:200px;">
                                保存信息
                            </button>
                        </td>
                    </tr>
                </table>

            </form>

            <div style="display: none;">
                <form action="/Test/Upload" target="iFileUploader" enctype="multipart/form-data" method="post">
                    <!--<form action="/Test/Upload"  enctype="multipart/form-data" method="post">-->
                    <input type="file" name="cardImg" id="fileCardImg" onchange="this.parentElement.submit();"/>
                </form>
                <iframe src="" name="iFileUploader" frameborder="0"></iframe>
            </div>
        </div>
    </div>

    <script>

        var identity_valid = "{$info.identity_valid}";

        var validator = $.scojs_valid("#formInfoEditor", {
            rules: {
                real_name: [{regex: /^[\u4e00-\u9fa5]{2,4}$/}],
                card_no: [{regex: /^[\d]{14}(\d|x)$|^[\d]{17}(\d|x)$/}],
                nick_name: [{regex: /^[\u4e00-\u9fa5a-zA-Z0-9_]{1,10}$/}],
//                qq_number: [{regex: /^[1-9][\d]{3,11}$/}],
                address: ["not_empty", {min_length: 5}, {max_length: 60}]
            },
            messages: {
                real_name: {regex: "请输入正确的姓名"},
                card_no: {regex: "请输入15-18位纯数字组成的身份证号码"},
                nick_name: {regex: "昵称由汉字、字母、数字、下划线组成，长度不大于11"},
            }
        });

        var cardImgCount = 0;

        $("#formInfoEditor input[name]").bind("blur", function () {
            validator.validate();
        });

        $("form[data-ajax-submit]").bind("submit", function () {

            var valid = validator.validate();

            if (valid) {
                if (cardImgCount == 0 && identity_valid != 1) {
                    showMsg("请至少上传一张身份证扫描件以供信息审核，谢谢合作。")
                    return false;
                }

                $(this).ajaxSubmit(function (retObj) {
                    switch (retObj.status) {
                        case S.SUCCEED:
                            showMsg("修改成功。");
                            break;
                    }
                });
            }


            return false;
        });

        function uploadFileSucceed(fileName) {

            var template = $("#tImg").html();

            template = template.config({fileName: fileName});

            $("#cImg").append(template);

            cardImgCount++;
        }

    </script>

    <script type="text/template" id="tImg">
        <a href="/Uploads/Temp/#fileName" target="_blank" class="thumbnail img">
            <img src="/Uploads/Temp/#fileName">
        </a>
        <input type="hidden" name="cardImg[]" value="#fileName"/>
    </script>
</block>
