<extend name="Layout/head"/>

<block name="resources">
    <style type="text/css">
        .menber-image{width:80px;height:80px;border:1px solid #CCC;}
        .credit_rating{
            width:75px;
            line-height:10px;
            float:left;
            background-image: url("__SOURCE__/images/backgd_five_star.png");
            background-repeat: repeat-x;
        }
    </style>
</block>

<block name="body">
    <div class="row" style="line-height:35px;border:1px solid #f90;margin: 1px;margin-top: 20px;padding-bottom: 30px;">
        <div class="col-md-12"><h4><b>手机苹果</b></h4></div>
        <div class="col-md-9">
            <div class="col-md-3">期望租金：<span style="color: #ff0000">1.00</span>/天</div>
            <div class="col-md-3">期望押金：<span style="color: #ff0000">2000.00</span>元</div>
            <div class="col-md-6">有效期：2015-1-1至2015-3-1</div>
            <div class="col-md-3">所在城市：深圳</div>
            <div class="col-md-3">租赁方式：整租</div>
            <div class="col-md-6">物品数量：<span style="color: #ff0000">1</span>个</div>
            <div class="col-md-3">发票：不提供</div>
            <div class="col-md-3">浏览量：XXX</div>
            <div class="col-md-6">详细地址：深圳市罗湖区XXXX号</div>
            <div class="col-md-12"><p>详细说明：
                详细说明说明稍等哈斯卡活动 收款号到拉萨的话 大家发链接受到法律贷款纠纷的实际缴费的刷卡缴费的收款方决定了是否将犯人是打飞机来得及时分类的数据都放假了快件费分解符领导是经典款收到了快件费德勒说句话收到了费德勒对了师傅就死定了 都删了加快递费快乐的就是的看法的是防静电觉得十分简单设计费jdfl东方酒店送快件费多少了积分家里的开始减肥了都是快解放了对口if俄交付的数量将发生的减肥减肥的开始减肥的绿色减肥登陆</p></div>
            <div class="col-md-12"><p>联系我时，请说是在品租网上看到的！</p></div>
            <div class="col-md-12">
                <div class="col-md-6"><a href="#" class="btn btn-info">在线联系</a></div>
                <div class="col-md-6"><a href="#" class="btn btn-warning">立即满足</a></div>
            </div>
        </div>
        <div class="col-md-3" style="line-height:25px;border: 1px solid #f90;margin-bottom: 20px;margin-right: 5px;width: 24%;">
            <div class="col-md-12"><p><b>求租信息</b></p></div>
            <div class="col-md-4 menber-image"></div>
            <div class="col-md-8">
                <div class="col-md-12">会员名：XXXXX</div>
                <div class="col-md-12">积  分：200</div>
                <div class="col-md-12"><div style="float: left">诚信等级：</div><div class="credit_rating"><img src="__SOURCE__/images/five_star.jpg"></div></div>
            </div>
            <div class="col-md-12">联系人：李经理</div>
            <div class="col-md-12">会员类型：<span>VIP</span></div>
            <div class="col-md-12">认证：<img src="__SOURCE__/images/phone.png">&nbsp;<img src="__SOURCE__/images/name.png">&nbsp;<img src="__SOURCE__/images/email.png"></div>
            <div class="col-md-12">保障服务：无</div>
            <div class="col-md-12">所在地：深圳市罗湖区XXX号</div>
        </div>
    </div>
</block>
