<extend name="Layout/head"/>

<block name="body">
    <div id="cGrid"></div>

    <div id="cWin"></div>

    <script>
        var folderKey = 2;

        var moduleName = "UserObject";

        $(function () {
            useDataGrid({
                columns: [
                    {field: "id", title: "编号", width: 60},
                    {field: "user_name", title: "用户名", width: 100},
                    {field: "cat_name", title: "分类", width: 100},
                    {field: "title", title: "标题", width: 250},
                    {field: "quantity", title: "数量", width: 40},
                    {
                        field: "status", title: "状态", width: 60, template: buildTemplate(dict_status, "status")
                    },
                    {
                        command: [
                            {
                                name: "查看详情",
                                click: showDetails
                            },
                            "destroy",
                        ], width: 200
                    }
                ]
            });
        });

    </script>

    <script type="text/x-kendo-template" id="tDetails">
        <div id="cDetails">
            <h4>#= title#&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;发布者：#= user_name#</h4>


            <input type="hidden" name="id" value="#= id#"/>

            <p>数量：#= quantity#&nbsp;&nbsp;&nbsp;&nbsp;发票类型：#=
                dict_invoice_type[invoice_type] #</p>

            <p>押金：#= price_pledge#元&nbsp;&nbsp;&nbsp;&nbsp;月租金：#= price_month#元&nbsp;&nbsp;&nbsp;&nbsp;日租金：#=
                price_day#元</p>

            <p>归还方式：#= dict_return_way[return_way] #&nbsp;&nbsp;&nbsp;&nbsp;最短租期：#=
                dict_shortest_lease[shortest_lease]#</p>

            <p>联系人姓名：#= contact_name #&nbsp;&nbsp;&nbsp;&nbsp;联系号码：#= contact_number#</p>

            <p style="overflow: hidden;">商品描述：#= description#</p>

            <p>
                照片：<span style="font-size: 14px;color: deepskyblue;">(点击放大)</span>
                <br/>

            <div id="cImages">
                #= loadImages(id) #
            </div>
            </p>

            <p>
                当前状态：<input name="status" id="sStatus" value="#= status#"/>
            </p>

            <p style="text-align: right;">
                <span style="color:deepskyblue;font-size:16px;" id="cTips_1"></span>
                <button class="k-button k-primary" onclick="updateModel()">保存</button>
            </p>

        </div>
    </script>

    <script>
        function details_ddl_init() {

            var $sStatus = $("#sStatus");

            var $ddlStatus = $sStatus.kendoDropDownList({
                dataTextField: "name",
                dataValueField: "id",
                autoBind: false,
                dataSource: convertToList(dict_status)
            });

            $sStatus.data("kendoDropDownList").value($sStatus.val());
        }

    </script>

</block>