<extend name="Layout/head"/>

<block name="body">

    <div id="cFilter" style="margin-bottom: 12px;">
        用户名：<input name="uid" class="k-textbox" placeholder="手机号码/邮箱地址"/>
        审核状态：<input type="text" name="status" id="sStatus_f"/>
        <button class="k-button" onclick="reloadTable()">查询</button>
        <hr/>
    </div>

    <div id="cGrid"></div>

    <div id="cWin"></div>

    <script>
        var moduleName = "UserRequirement";

        $(function () {
            useDataGrid({
                columns: [
                    {field: "id", title: "编号", width: 60},
                    {field: "user_name", title: "用户名", width: 100},
                    {field: "title", title: "标题", width: 250},
                    {
                        field: "status", title: "状态", width: 60, template: buildTemplate(dict_status, "status")
                    },
                    {
                        command: [
                            {
                                name: "查看详情",
                                click: showDetails
                            },
                            "destroy",
                        ], width: 200
                    }
                ]
            });
        });

    </script>

    <script type="text/x-kendo-template" id="tDetails">
        <div id="cDetails">
            <h4>#= title#&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;发布者：#= user_name#</h4>

            <p>#= description#</p>


            <input type="hidden" name="id" value="#= id#"/>

            <p>
                当前状态：<input name="status" id="sStatus" value="#= status#"/>
            </p>

            <p style="text-align: right;">
                <span style="color:deepskyblue;font-size:16px;" id="cTips_1"></span>
                <button class="k-button k-primary" onclick="updateModel()">保存</button>
            </p>

        </div>
    </script>

    <script>
        function details_ddl_init() {

            var $sStatus = $("#sStatus");

            var $ddlStatus = $sStatus.kendoDropDownList({
                dataTextField: "name",
                dataValueField: "id",
                autoBind: false,
                dataSource: convertToList(dict_status)
            });

            $sStatus.data("kendoDropDownList").value($sStatus.val());
        }

        $(function(){
            var $sStatus_f = $("#sStatus_f");

            $sStatus_f.kendoDropDownList({
                dataTextField: "name",
                dataValueField: "id",
                autoBind: false,
                optionLabel:"所有状态",
                dataSource: convertToList(dict_status)
            });

        });
    </script>

</block>