<extend name="Layout/head"/>

<block name="resources">
    <style>
        #cMain td {
            line-height: 25px;
        }

    </style>
</block>

<block name="body">
    <div class="row">
        <include file="Layout/user_center"/>
        <div class="col-md-6">
            <h3>承租记录</h3>
            <table id="cMain" class="table table-bordered">
                <thead>
                <th>编号</th>
                <th>标题</th>
                <th>出租方</th>
                <th>时间</th>
                <th>状态</th>
                <th></th>
                </thead>
                <tbody>
                <volist name="list" id="logs">
                    <if condition="$logs.status eq 0">
                        <tr class="info">
                            <elseif condition="$logs.status eq 1"/>
                        <tr class="warning">
                            <elseif condition="$logs.status eq 2"/>
                        <tr class="success">
                            <elseif condition="$logs.status eq 3"/>
                        <tr class="danger">
                    </if>
                    <td>{$logs.id}</td>
                    <td>{$logs.title}</td>
                    <td>{$logs.lessor_name}</td>
                    <td>{$logs.created_on}</td>
                    <td>{$logs.status_name}</td>
                    <td>
                        <button class="btn btn-warning btn-xs" onclick="checkDetails('{$logs.id}');">
                            查看详情
                        </button>
                    </td>
                    </tr>
                </volist>
                </tbody>
            </table>
            <div id="cPagination" style="text-align: right">

            </div>
        </div>
    </div>
    <script>
        var pageURL = "/UserLeaseLogs/Lessee/";
        var pageCount = "{$page_count}";
    </script>
</block>