<meta charset="UTF-8">
<style>
    body {
        background: #f2f2f2;
    }

    .activate {
        width: 500px;
        padding: 30px;
        margin: 150px auto;
        border: solid 1px #ccc;
        border-top: solid 3px orange;
        background: #fff;
    }

    .activate h2 {
        padding: 10px 0;
        font-size: 16px;
        color: #333;
    }

    .activate p {
        padding: 10px 0;
        font: normal 14px "微软雅黑";
        color: #666;
    }

    .activate p a {
        text-decoration: underline;
        color: darkorange;
        font-size:14px;
    }
</style>
<div class="activate">
    <h2>来自品租网，请点击以下连接完成验证</h2>
    <p style='font-size:20px;'>
        <a href="http://www.py.com%s">http://www.py.com%s</a>
    </p>
    <p>注：如不能点击直接访问请复制到浏览器地址栏打开。</p>
</div>

