<extend name="Layout/head"/>

<block name="resources">
    <style type="text/css">
        .information{width: 1170px;margin:20px auto;height:auto;}
        .information_left{width: 850px;float: left;border: 1px solid #f0f0f0;}
        .information_right{width: 260px;float: right;border:1px solid #f0f0f0;padding-right: 40px;}
        .inform_align_right{float: right;}
        .information_right ul{list-style-type: none;}
        .information_right ul li{line-height: 40px;}
        .information_border{border-bottom: 2px dashed #F90;}
    </style>

</block>

<block name="body">
<div class="information">
    <div class="information_left">
        <div class="col-md-12">
            <h3>最新资讯</h3>
        </div>
        <div class="col-md-12">
            <ul>
                <li>
                    <span class="inform_align_right">2015-04-01</span>
                    <a href="#">本公司最新招聘，期待您的加入！</a>
                </li>
            </ul>
        </div>
        <div class="col-md-12">
            <h3>站内新闻</h3>
        </div>
        <div class="col-md-12">
            <ul>
                <li>
                    <span class="inform_align_right">2015-04-01</span>
                    <a href="#">本公司最新招聘，期待您的加入！</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="information_right">
        <ul>
            <li><h3 class="information_border">租赁指南</h3></li>
            <li><a href="#">租赁说明</a></li>
            <li><a href="#">需求说明</a></li>
            <li><a href="#">常见问题</a></li>
            <li><a href="#">联系我们</a></li>
            <li><h3 class="information_border">配送方式</h3></li>
            <li><a href="#">租主包邮</a></li>
            <li><a href="#">租客自提</a></li>
            <li><a href="#">租客包邮</a></li>
            <li><a href="#">自提</a></li>
            <li><h3 class="information_border">支付方式</h3></li>
            <li><a href="#">支付方式</a></li>
            <li><a href="#">发票说明</a></li>
            <li><a href="#">退款指南</a></li>
            <li><h3 class="information_border">会员帮助</h3></li>
            <li><a href="#">维修保障</a></li>
            <li><a href="#">审核流程</a></li>
            <li><a href="#">租赁保险</a></li>
            <li><h3 class="information_border">商家合作</h3></li>
            <li><a href="#">商家合作</a></li>
        </ul>
    </div>
</div>
</block>