<extend name="Layout/head"/>
<block name="resources">
</block>

<block name="body">

<div style="width:1170px; line-height:40px;">
	<div class="col-md-4" style="text-align:right">
		<h4>申请人姓名：</h4>
    </div>
	<div class="col-md-8">
    <input name="name" type="text" class="form-control" id="name" placeholder="name" style="width:200px">
    </div>
	<div class="col-md-12" style="padding:0">
		<div class="col-md-4" style="text-align:right"><h4>保证金：</h4></div>
    	<div class="col-md-2"><input type="text" class="form-control" placeholder="case"></div>
    	<div class="col-md-6" style="padding:0">&nbsp;&nbsp;<a href="#">什么是保证金？</a></div>
	</div>

	<div class="col-md-4" style="text-align:right">
    	<h4>申请人身份证号码：</h4></div>
	<div class="col-md-8">
    <input type="text" class="form-control" style="width:300px" placeholder="number"></div>

	<div class="col-md-12" style="padding:0">
		<div class="col-md-4" style="text-align:right"><h4>申请人性别：</h4></div>
		<div class="col-md-1" style="line-height:35px">男<input name="" type="radio" value="" /></div>
    	<div class="col-md-7" style="line-height:35px">女<input name="" type="radio" value="" /></div>
	</div>
	<div class="col-md-4" style="text-align:right">
    	<h4>申请人手机：</h4></div>
	<div class="col-md-8">
    <input type="text" class="form-control" style="width:200px" placeholder="tel"></div>
	<div class="col-md-12" style="padding:0">
		<div class="col-md-4" style="text-align:right"><h4>申请人电话：</h4></div>
		<div class="col-md-8"><input type="text" class="form-control" style="width:200px" placeholder="phone"></div>
	</div>
	<div class="col-md-4" style="text-align:right">
    	<h4>申请人邮箱：</h4>
    </div>
	<div class="col-md-8">
    	<input type="email" class="form-control" style="width:250px" placeholder="email"></div>
	<div class="col-md-12" style="padding:0">
		<div class="col-md-4" style="text-align:right"><h4>公司名称：</h4></div>
		<div class="col-md-8">
        	<input type="text" class="form-control" style="width:250px" placeholder="td name"></div>
	</div>
		<div class="col-md-4" style="text-align:right"><h4>公司地址：</h4></div>
		<div class="col-md-8"><input type="text" class="form-control" style="width:300px" placeholder="idd"></div>
		<div class="col-md-12" style="padding:0">
			<div class="col-md-4" style="text-align:right"><h4>企业注册号：</h4></div>
			<div class="col-md-8"><input type="text" class="form-control" style="width:250px" placeholder="number"></div>
		</div>
		<div class="col-md-12" style="text-align:center;margin-top:20px;">
  			<button type="button" class="btn btn-primary btn-lg" style="width:250px;">提交申请</button></div>
</div>
</block>