<extend name="Layout/head"/>

<block name="resources">
    <style type="text/css">
        dl{margin-bottom:5px}
        .img_xq{
            height: 180px;
            width: 220px;
        }
        .thumbnail .caption p span {
            font-size: 14px;
            font-weight: bold;
            color: #F00;
            line-height: 20px;
        }
        .thumbnail .caption p {
            font-weight: bold;
            font-size: 12px;
            line-height: 20px;
        }
        .figure_box{
            width:230px;
            float:left;
            margin-right: 1px;
            margin-left: 1px;
        }
        .leade-search {
            padding-left:50px;
            height: 30px;
            width: 1170px;
        }
        .selectNumberScreen .leade-search input {
            float: left;
        }
    </style>

</block>

<block name="body">
    <div>手机数码>手机</div>
    <div style="width:1170px; margin:0 auto; overflow:hidden">
        <div class="thumbnail figure_box">
            <div class="img_xq"><img src="__SOURCE__/images/shuma.jpg" width="220" height="180"></div>
            <div class="caption">
                <h5>苹果手机手机手机手机</h5>
                <p>租金：￥<span>30.00</span></p>
                <p>押金：￥<span>1500.00</span>&nbsp;&nbsp;<a href="#" class="btn btn-primary btn-xs" role="button">查看详情</a></p>
            </div>
        </div>
        <div class="thumbnail  figure_box">
            <div class="img_xq"><img src="__SOURCE__/images/shuma.jpg" width="220" height="180"></div>
            <div class="caption">
                <h5>苹果手机手机手机手机</h5>
                <p>租金：￥<span>30.00</span></p>
                <p>押金：￥<span>1500.00</span>&nbsp;&nbsp;<a href="#" class="btn btn-primary btn-xs" role="button">查看详情</a></p>
            </div>
        </div>
        <div class="thumbnail  figure_box">
            <div class="img_xq"><img src="__SOURCE__/images/shuma.jpg" width="220" height="180"></div>
            <div class="caption">
                <h5>苹果手机手机手机手机</h5>
                <p>租金：￥<span>30.00</span></p>
                <p>押金：￥<span>1500.00</span>&nbsp;&nbsp;<a href="#" class="btn btn-primary btn-xs" role="button">查看详情</a></p>
            </div>
        </div>
        <div class="thumbnail  figure_box">
            <div class="img_xq"><img src="__SOURCE__/images/shuma.jpg" width="220" height="180"></div>
            <div class="caption">
                <h5>苹果手机手机手机手机</h5>
                <p>租金：￥<span>30.00</span></p>
                <p>押金：￥<span>1500.00</span>&nbsp;&nbsp;<a href="#" class="btn btn-primary btn-xs" role="button">查看详情</a></p>
            </div>
        </div>
        <div class="thumbnail  figure_box">
            <div class="img_xq"><img src="__SOURCE__/images/shuma.jpg" width="220" height="180"></div>
            <div class="caption">
                <h5>苹果手机手机手机手机</h5>
                <p>租金：￥<span>30.00</span></p>
                <p>押金：￥<span>1500.00</span>&nbsp;&nbsp;<a href="#" class="btn btn-primary btn-xs" role="button">查看详情</a></p>
            </div>
        </div>
    </div>

</block>