<extend name="Layout/head"/>

<block name="resources">
    <style type="text/css">
        .region-top{  width: 900px;  line-height: 40px;  float: left;margin-top: 20px;  }
        .region-right-text{border-bottom: 2px dashed #f90;background-color: orange;color: #ffffff;line-height: 40px; font-size: 18px ;padding-left: 10px;}
        .row .region-top.col-md-9 a {  float: left;  margin-right:10px;  }
        .region-sort{border-bottom: 1px dashed #F0F0F0;overflow: hidden}
        .region-products-list{width: 24%;float: left;margin-right:8px; }
    </style>
</block>

<block name="body">
    <div class="row">
        <div class="region-top col-md-9">
            <div class="region-sort">
                <h4 style="float:left; margin-right:20px;width: 80px;">所有分类:</h4>
                <a href="">手机数码</a>
                <a href="">保健器材</a>
                <a href="">电脑办公</a>
                <a href="">家用电器</a>
                <a href="">图书影音</a>
                <a href="">家具家装</a>
                <a href="">珠宝首饰</a>
                <a href="">钟表礼品</a>
                <a href="">户外运动</a>
            </div>
            <div class="region-sort" style="clear: both">
                <h4 style="float:left; margin-right:20px;width: 80px;">价&nbsp;&nbsp;格:</h4>
                <a href="">0-100元</a>
                <a href="">100-200元</a>
                <a href="">200-500元</a>
                <a href="">500-1000元</a>
                <a href="">1000-2000元</a>
                <a href="">2000-5000元</a>
                <a href="">5000以上</a>
            </div>
            <div class="region-sort" style="clear: both;">
                <h4 style="float:left; margin-right:20px;width: 80px;">区&nbsp;&nbsp;域:</h4>
                <a href="">罗湖区</a>
                <a href="">福田区</a>
                <a href="">龙岗区</a>
                <a href="">盐田区</a>
                <a href="">南山区</a>
                <a href="">宝安区</a>
                <a href="">龙华新区</a>
                <a href="">坪山新区</a>
                <a href="">大鹏新区</a>
                <a href="">光明新区</a>
            </div>
            <div>
                <div class="region-products-list">
                    <div class="thumbnail">
                        <a href="../UserObject/Details.html"><img data-src="holder.js/100%x200" alt="100%x200" src="__SOURCE__/images/shuma.jpg" data-holder-rendered="true" style="height: 200px; width: 100%; display: block;"></a>
                        <div class="caption">
                            <h4><a href="../UserObject/Details.html">iphone6超值体验</a></h4>
                            <p>租金：¥&nbsp;<span style="color: #ff0000">20.00</span>&nbsp;元/天<br>押金：¥&nbsp;<span style="color: #ff0000">5000.00</span>&nbsp;元</p>
                        </div>
                    </div>
                </div>
                <div class="region-products-list">
                    <div class="thumbnail">
                        <a href=""><img data-src="holder.js/100%x200" alt="100%x200" src="__SOURCE__/images/shuma.jpg" data-holder-rendered="true" style="height: 200px; width: 100%; display: block;"></a>
                        <div class="caption">
                            <h4><a href="">iphone6超值体验</a></h4>
                            <p>租金：¥&nbsp;<span style="color: #ff0000">20.00</span>&nbsp;元/天<br>押金：¥&nbsp;<span style="color: #ff0000">5000.00</span>&nbsp;元</p>
                        </div>
                    </div>
                </div>
                <div class="region-products-list">
                    <div class="thumbnail">
                        <a href=""><img data-src="holder.js/100%x200" alt="100%x200" src="__SOURCE__/images/shuma.jpg" data-holder-rendered="true" style="height: 200px; width: 100%; display: block;"></a>
                        <div class="caption">
                            <h4><a href="">iphone6超值体验</a></h4>
                            <p>租金：¥&nbsp;<span style="color: #ff0000">20.00</span>&nbsp;元/天<br>押金：¥&nbsp;<span style="color: #ff0000">5000.00</span>&nbsp;元</p>
                        </div>
                    </div>
                </div>
                <div class="region-products-list">
                    <div class="thumbnail">
                        <a href=""><img data-src="holder.js/100%x200" alt="100%x200" src="__SOURCE__/images/shuma.jpg" data-holder-rendered="true" style="height: 200px; width: 100%; display: block;"></a>
                        <div class="caption">
                            <h4><a href="">iphone6超值体验</a></h4>
                            <p>租金：¥&nbsp;<span style="color: #ff0000">20.00</span>&nbsp;元/天<br>押金：¥&nbsp;<span style="color: #ff0000">5000.00</span>&nbsp;元</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3" style="margin-top: 20px">
            <div class="region-right-text">热租推荐</div>
            <div>
                <div class="thumbnail">
                    <a href=""><img data-src="holder.js/100%x200" alt="100%x200" src="__SOURCE__/images/shuma.jpg" data-holder-rendered="true" style="height: 200px; width: 100%; display: block;"></a>
                    <div class="caption">
                        <h4><a href="">iphone6超值体验</a></h4>
                        <p>租金：¥&nbsp;<span style="color: #ff0000">20.00</span>&nbsp;元/天<br>押金：¥&nbsp;<span style="color: #ff0000">5000.00</span>&nbsp;元</p>
                    </div>
                </div>
                <div class="thumbnail">
                   <a href=""><img data-src="holder.js/100%x200" alt="100%x200" src="__SOURCE__/images/shuma.jpg" data-holder-rendered="true" style="height: 200px; width: 100%; display: block;"></a>
                    <div class="caption">
                        <h4><a href="">iphone6超值体验</a></h4>
                        <p>租金：¥&nbsp;<span style="color: #ff0000">20.00</span>&nbsp;元/天<br>押金：¥&nbsp;<span style="color: #ff0000">5000.00</span>&nbsp;元</p>
                    </div>
                </div>
                <div class="thumbnail">
                    <a href=""><img data-src="holder.js/100%x200" alt="100%x200" src="__SOURCE__/images/shuma.jpg" data-holder-rendered="true" style="height: 200px; width: 100%; display: block;"></a>
                    <div class="caption">
                        <h4><a href="">iphone6超值体验</a></h4>
                        <p>租金：¥&nbsp;<span style="color: #ff0000">20.00</span>&nbsp;元/天<br>押金：¥&nbsp;<span style="color: #ff0000">5000.00</span>&nbsp;元</p>
                    </div>
                </div>
                <div class="thumbnail">
                   <a href=""><img data-src="holder.js/100%x200" alt="100%x200" src="__SOURCE__/images/shuma.jpg" data-holder-rendered="true" style="height: 200px; width: 100%; display: block;"></a>
                    <div class="caption">
                        <h4><a href="">iphone6超值体验</a></h4>
                        <p>租金：¥&nbsp;<span style="color: #ff0000">20.00</span>&nbsp;元/天<br>押金：¥&nbsp;<span style="color: #ff0000">5000.00</span>&nbsp;元</p>
                    </div>
                </div>
                <div class="thumbnail">
                    <a href=""><img data-src="holder.js/100%x200" alt="100%x200" src="__SOURCE__/images/shuma.jpg" data-holder-rendered="true" style="height: 200px; width: 100%; display: block;"></a>
                    <div class="caption">
                        <h4><a href="">iphone6超值体验</a></h4>
                        <p>租金：¥&nbsp;<span style="color: #ff0000">20.00</span>&nbsp;元/天<br>押金：¥&nbsp;<span style="color: #ff0000">5000.00</span>&nbsp;元</p>
                    </div>
                </div>
            </div>
            <div>
                <img data-src="holder.js/100%x100%" class="img-rounded" alt="100%x200" src="__SOURCE__/images/fanggg01.jpg" data-holder-rendered="true" style="width: 270px;margin-bottom: 10px;">
                <img data-src="holder.js/100%x100%" class="img-rounded" alt="100%x200" src="__SOURCE__/images/fanggg02.jpg" data-holder-rendered="true" style="width: 270px;margin-bottom: 10px;">
                <img data-src="holder.js/100%x100%" class="img-rounded" alt="100%x200" src="__SOURCE__/images/fanggg03.jpg" data-holder-rendered="true" style="width: 270px;margin-bottom: 10px;">
                <img data-src="holder.js/100%x100%" class="img-rounded" alt="100%x200" src="__SOURCE__/images/fanggg04.jpg" data-holder-rendered="true" style="width: 270px">
            </div>
        </div>
    </div>
</block>